.content {
    margin-top:20px;
    margin-bottom: 20px;
}
table {
    margin-top: 20px;
}
nav li {
    padding: 0em 1em;
}
<<<<<<< HEAD
=======

/* .pet_img {} ? */ 

>>>>>>> 22f8379775d7659582d370ac412572c223600390
