

body {
    color: black;
    font-size: 1.15em;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.not-active>a:hover {
    color: #a19b4f;
    background-color: #eeddcd;
    border: 1px solid #a19b4f;
}

.nav-pills>li.not-active>a {
    text-decoration: none;
    color: #a19b4f;
    background-color: white;
    border: 1px solid #a19b4f; 
}

.nav-pills>li {
    padding-right: 25px;
    float:right;
}

.dr-img {
    max-width: 100%;
    padding-right: 0;
    /* margin-left: 30px; */
}

.top-row {
    font-size: .85em;
    color: black;
    vertical-align: middle;
}

h2 {
    font-size: 2em;
}

.map {
    width:90%;
    height: 260px;
    float: right;
}

.row .animal-col:last-child {
    padding-left: 0;
}

.doggo {
    width: 90%;
}

.animal-col {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    right: 0px;
}

.animal-img {
    right: -58px;
    position: relative;
    display: block;
    max-width: 100%;
    padding-right: 0;
    position: relative;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;

}

.table>tbody>tr {
    border: none;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
    opacity: 1;
}

 .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f5f5f5;
}

.table-striped>tbody>tr>th {
    background-color: white;
    border-top: none;
}