/* 
TODO:
[] - Get google fonts for satisfy and Open Sans

*KEY* 
Primary Color: #C9C983
Primary Heading Font: 'Satisfy', open-sans
Base Color: #EEDDCD
*/

/*              IMPORTS                      */

@import url(http://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400,300,700);

/*                 NAVBAR SECTION                  */
.logo {
    width: 90px;
}

header h1 {
    color: #C9C893;
    font-family: 'satisfy', open-sans;
    margin-top: 20px;
}

.nav-pills > li.active > a {
    color: #5C433F;
}

.nav-pills > li.active > a, .product, aside a, footer {
    background-color: #EEDDCD;
}


.nav-pills > li.active > a:hover, product button:hover {
    background-color: #EDF1F4;
    color: #5C433F;
}

nav li {
    font-size: 15px;
}

nav, footer div {
    margin-top: 15px;
}

.jumbotron {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    height: 600px;
}

 .jumbo-text {
    font-family: 'Open Sans', sans-serif;
    color:white;
    opacity: 80%;
    font-weight: 300;
}

.product {
    border-radius: 6%;
    border: 5px solid white;
}

.img_box {
    margin: 10px 0;
}

.product button {
    margin-bottom: 10px;
}
aside a {
    border: 2px solid #EEDDCD;
}

a:hover {
    text-decoration: none;
}

footer {
    margin-top: 80px;
    height: 110px;
}

footer div {
    border-right: 1px solid black;
} 

footer li {
    list-style-type: none;
}

footer p {
    margin-top: 60px;
}